<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="mb-4">
        <h2>Listado de Usuarios</h2>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Producto</th>
            <th scope="col">Costo</th>
            <th scope="col">Costo Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>1</td>
            <td>{{ product.nameProduct }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.price }}</td>
            <td class="text-center">
              <button class="btn btn-danger" (click)="onClickDeleted(product)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
